# Node.js dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs
*.log
logs/*
pids
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# Editor folders/files
.vscode/
.idea/
*.swp

# Coverage / build outputs
coverage/
dist/
build/
.cache/

# Temporary
tmp/
